<%
  if !!local_assigns[:apply_css] and (classes = menu_branch_css(local_assigns)).any?
    css = "class='#{classes.join(' ')}'".html_safe
  end
-%>
  <% if ( (children = menu_branch.children unless hide_children).present? &&
          (!local_assigns[:menu_levels] || menu_branch.ancestors.length < local_assigns[:menu_levels]) ) -%>
    <li class="dropdown"<%= ['', css].compact.join(' ').gsub(/\ *$/, '').html_safe %>>
    <%= link_to(refinery.url_for(menu_branch.url), :class => 'dropdown-toggle', data: { toggle: 'dropdown' })  do %>
      <%= menu_branch.title %>
      <b class="caret"></b>
    <% end %>
    <ul class='dropdown-menu'>
      <%= render :partial => '/refinery/menu_branch', :collection => children,
                 :locals => {
                   :apply_css => local_assigns[:apply_css],
                   :hide_children => !!hide_children,
                   :menu_levels => local_assigns[:menu_levels]
                 } -%>
    </ul>
  <% else -%>
    <li<%= ['', css].compact.join(' ').gsub(/\ *$/, '').html_safe %>>
    <%= link_to(menu_branch.title, refinery.url_for(menu_branch.url)) -%>  
  <% end -%>
</li>
