<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>

  <% content_for :meta do %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% end %>

  <% if @page.root.children.length > 1 %>
    <% content_for :sidenav do %>
      <%= render :partial => "/refinery/menu", :locals => {
        :roots => Refinery::Menu.new(Refinery::Page.fast_menu.where(:parent_id => @page.root.id)),
        :css => "nav nav-tabs nav-stacked"
      } %>
    <% end %>
  <% end %>
  
  <body>
      <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner header">
          <div class="container">      
            <%= render '/refinery/header' -%>
          </div>
        </div>
      </div>

      <div id="page_container" class="container">
        <div class="row">
          <% if content_for?(:sidenav) %>
          <div class="span3">
            <div id='sidenav'>
              <%= yield :sidenav %>
            </div>
          </div>
          <div class="span9">
          <% else %>
          <div class="span12">
          <% end %>
            <%= yield %>
          </div>
        </div>
      </div>

      <div id="footer" class="navbar navbar-fixed-bottom">
        <%= render '/refinery/footer' -%>
        <%= site_bar -%>
      </div>
      <%= render '/refinery/javascripts' %>
  </body>
</html>
